    <div class="row" style="margin: 0; padding: 0;">
        <div class="col-sm-3"style="background-color: black
        ;color: white; height:100%;position: fixed;">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-9" style="margin-left: 370px;">
       <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Paaliaq-full.gif/1200px-Paaliaq-full.gif" width="1250" height="792" alt="" style="position: relative;">
        </div>
        <div class="content" style="position: absolute;padding:12% 0 0 43%;color: aqua;">
            <h2>Welcome</h2>
            <br>
            <h1>I'm a Mean Stack Developer</h1>
            <br>
            <h3>based in gurugram,India</h3>
<br>
            <button class="btn-design">Hire Me</button>
        </div>
    </div>